@import url('https://fonts.googleapis.com/css?family=Anton');
@import './mixins.scss';

$blue: #4C9ABE;
$red: #903;

body {
  font-family: arial, helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #FCFCFC;
}

nav {
  background: transparent;
  transition: background .2s ease-out;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: block;

  @include orientation(portrait) {
    position: absolute;
    background: linear-gradient(to bottom, rgba(51,51,51,0.65) 0%,rgba(51,51,51,0) 100%);
  }

  &.top {
    background: linear-gradient(to bottom, rgba(51,51,51,0.65) 0%,rgba(51,51,51,0) 100%);
  }

  .logo {
    padding: 25px 2%;
    display: inline-block;
  }

  .social {
    padding: 25px 2%;
    display: inline-block;
    float: right;

    a {
      text-decoration: none;

      i {
          color: $red;
          padding-left: 10px;
          font-size: 20px;
          display: inline-block;
      }
    }
  }
}

header {
  max-height: 100vh;
  min-height: 70vh;
  min-width: 100%;
  overflow: hidden;
  background: white;
  margin: 0 auto;
  position: relative;

  .splash-wrap {
    display: inline-block;
    position: relative;
    right: -50%;
    width: auto;

    @include orientation(landscape) { 
      width: 100%;
    }

    video {
      height: auto;
      min-width: 100%;
      min-height: 70vh;
      position: relative;
      left: -50%;
    }
  }

  .title-box {
    position: absolute;
    bottom: 20vh;
    left: 5%;
    text-align: left;
    font-family: 'Anton', sans-serif;
    letter-spacing: 0.2em;

    @include orientation (portrait) {
      bottom: 10vh;
    }

    h1 {
      font-size: 50px;
      margin: 4px 0;
      color: $red;

      @include orientation (portrait) {
        font-size: 10vw;
      }
    }

    h2 {
      font-size: 25px;

      @include orientation (portrait) {
        font-size: 5vw;
      }
    }
  }
}

main {
  color: #777;
  font-size: 18px;
  line-height: 31px;
  width: 100%;
  margin: 50px auto 0;

  @include orientation(portrait) {
    font-size: 5.25vw;
    line-height: 8vw;
  }

  p {
    margin: 15px auto 1.5em auto;
    width: 585px;

    a {
      color: $red;
      text-decoration: none;
    }

    @include orientation(portrait) {
      width: 98%;
    }

    .firstcharacter {
      color: $red;
      float: left;
      font-family: Georgia;
      font-size: 75px;
      line-height: 60px;
      padding-top: 4px;
      padding-right: 8px;
      padding-left: 3px;
    }

    &.header {
      font-weight: bold;
      color: $red;
      margin-bottom: 0;
      line-height: 8px;
      font-size: 1.2em;
    }
  }

  .video-wrapper {
    video {
      max-width: 100%;
      max-height: 100vh;
      width: 100%;
      height: auto;
    }
  }
}
